In [5]:
import pandas as pd 
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### Part 1: Loading CSVs

In [6]:
races = pd.read_csv("races 2016-2024.csv", usecols = ['raceId', 'year', 'circuitId', 'name'])
races.rename(columns = {'name' : 'race_name'}, inplace = True)
races.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 190 entries, 0 to 189
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   raceId     190 non-null    int64
 1   year       190 non-null    int64
 2   circuitId  190 non-null    int64
 3   race_name  190 non-null    object
dtypes: int64(3), object(1)
memory usage: 6.1+ KB

In [7]:
# What years do we have in the dataset?

sorted(races['year'].unique())

[2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]

In [8]:
# Load results data

results = pd.read_csv("results.csv", usecols = ['raceId', 'driverId', 'constructorId', 'points', 'fastestLapTime', 'fastestLapSpeed'])
results.rename(columns = {'points' : 'race_points'}, inplace = True)
results.rename(columns = {'fastestLapTime' : 'race_fastestLapTime', 'fastestLapSpeed' : 'race_fastestLapSpeed'}, inplace = True)
results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26399 entries, 0 to 26398
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   raceId                26399 non-null  int64
 1   driverId              26399 non-null  int64
 2   constructorId         26399 non-null  int64
 3   race_points           26399 non-null  float64
 4   race_fastestLapTime   26399 non-null  object
 5   race_fastestLapSpeed  26399 non-null  object
dtypes: float64(1), int64(3), object(2)
memory usage: 1.2+ MB

In [9]:
# load quali data

quali = pd.read_csv("qualifying.csv", usecols = ['qualifyId', 'raceId', 'driverId', 'constructorId', 'q1', 'q2', 'q3'])
quali.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10134 entries, 0 to 10133
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   qualifyId      10134 non-null  int64
 1   raceId         10134 non-null  int64
 2   driverId       10134 non-null  int64
 3   constructorId  10134 non-null  int64
 4   q1             10134 non-null  object
 5   q2             10125 non-null  object
 6   q3             10116 non-null  object
dtypes: int64(4), object(3)
memory usage: 554.3+ KB

In [10]:
# Load sprint data

sprint = pd.read_csv("sprint_results.csv", usecols = ['raceId', 'driverId', 'constructorId', 'points', 'fastestLapTime'])
sprint.rename(columns = {'points' : 'sprint_points', 'fastestLapTime' : 'sprint_fastestLapTime'}, inplace = True)
sprint.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 280 entries, 0 to 279
Data columns (total 5 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   raceId                 280 non-null    int64
 1   driverId               280 non-null    int64
 2   constructorId          280 non-null    int64
 3   sprint_points          280 non-null    int64
 4   sprint_fastestLapTime  280 non-null    object
dtypes: int64(4), object(1)
memory usage: 11.1+ KB

In [11]:
# Load drivers data

drivers = pd.read_csv("drivers.csv", usecols = ['driverId', 'forename', 'surname', 'dob'])
drivers.rename(columns = {'forename' : 'drivers_forename', 'surname' : 'drivers_surname'}, inplace = True)
drivers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 859 entries, 0 to 858
Data columns (total 4 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   driverId          859 non-null    int64
 1   drivers_forename  859 non-null    object
 2   drivers_surname   859 non-null    object
 3   dob               859 non-null    object
dtypes: int64(1), object(3)
memory usage: 27.0+ KB

In [12]:
# Load circuits data

circuit = pd.read_csv("circuits.csv", usecols = ['circuitId', 'name', 'alt'])
circuit.rename(columns = {'name' : 'circuit_name', 'alt' : 'circuit_altitude'}, inplace = True)
circuit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 77 entries, 0 to 76
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   circuitId         77 non-null     int64
 1   circuit_name      77 non-null     object
 2   circuit_altitude  77 non-null     int64
dtypes: int64(2), object(1)
memory usage: 1.9+ KB

In [13]:
# Load constructor results data

constructor_results = pd.read_csv("constructor_results.csv", usecols = ['raceId', 'constructorId', 'points'])
constructor_results.rename(columns = {'points' : 'constructor_points'}, inplace = True)
constructor_results.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12445 entries, 0 to 12444
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   raceId              12445 non-null  int64
 1   constructorId       12445 non-null  int64
 2   constructor_points  12445 non-null  float64
dtypes: float64(1), int64(2)
memory usage: 291.8 KB

In [14]:
# Load constructors name data

constructor_name = pd.read_csv("constructors.csv", usecols = ['constructorId', 'name'])
constructor_name.rename(columns = {'name' : 'constructor_name'}, inplace = True)
constructor_name.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212 entries, 0 to 211
Data columns (total 2 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   constructorId     212 non-null    int64
 1   constructor_name  212 non-null    object
dtypes: int64(1), object(1)
memory usage: 3.4+ KB

### Part 2: Merges & Assesment

In [15]:
# Merge 1: Races to Results

df = pd.merge(races,results,on='raceId',how='left')
df.head()

,raceId,year,circuitId,race_name,driverId,constructorId,race_points,race_fastestLapTime,race_fastestLapSpeed
0,948,2016,1,Australian Grand Prix,3.0,131.0,25.0,1:30.557,210.815
1,948,2016,1,Australian Grand Prix,1.0,131.0,18.0,1:30.646,210.608
2,948,2016,1,Australian Grand Prix,20.0,6.0,15.0,1:29.951,212.235
3,948,2016,1,Australian Grand Prix,817.0,9.0,12.0,1:28.997,214.510
4,948,2016,1,Australian Grand Prix,13.0,3.0,10.0,1:32.288,206.861

In [16]:
# Double checking that we only have 2018 to 2024

sorted(df['year'].unique())

[2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024]

In [17]:
# Merge 2: df to Drivers

df1 = pd.merge(df,drivers,on='driverId',how='left')
df1.head()

,raceId,year,circuitId,race_name,driverId,constructorId,race_points,race_fastestLapTime,race_fastestLapSpeed,drivers_forename,drivers_surname,dob
0,948,2016,1,Australian Grand Prix,3.0,131.0,25.0,1:30.557,210.815,Nico,Rosberg,1985-06-27
1,948,2016,1,Australian Grand Prix,1.0,131.0,18.0,1:30.646,210.608,Lewis,Hamilton,1985-01-07
2,948,2016,1,Australian Grand Prix,20.0,6.0,15.0,1:29.951,212.235,Sebastian,Vettel,1987-07-03
3,948,2016,1,Australian Grand Prix,817.0,9.0,12.0,1:28.997,214.510,Daniel,Ricciardo,1989-07-01
4,948,2016,1,Australian Grand Prix,13.0,3.0,10.0,1:32.288,206.861,Felipe,Massa,1981-04-25

In [18]:
# Getting data on the current dataset

df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3499 entries, 0 to 3498
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   raceId                3499 non-null   int64
 1   year                  3499 non-null   int64
 2   circuitId             3499 non-null   int64
 3   race_name             3499 non-null   object
 4   driverId              3481 non-null   float64
 5   constructorId         3481 non-null   float64
 6   race_points           3481 non-null   float64
 7   race_fastestLapTime   3481 non-null   object
 8   race_fastestLapSpeed  3481 non-null   object
 9   drivers_forename      3481 non-null   object
 10  drivers_surname       3481 non-null   object
 11  dob                   3481 non-null   object
dtypes: float64(3), int64(3), object(6)
memory usage: 328.2+ KB

In [19]:
## Testing if the merge was successful
# I am doing a test at this point because the first 3 tables are the most essential ones. If the merge is off at this point, everything else will be wrong. 

# I will use Lewis Hamilton for the test. Lewis Hamilton was world champion in 2018, meaning that he most likely didn't miss a single race in 2018.
# There were a total of 21 races in 2018. if the merge was correct, we should have 21 records for Lewis Hmailton in 21
# If you're wondering how I know the number of races, check this link: https://www.formula1.com/en/racing/2018.html
# You'll see that there were 21 "rounds" (races) in 2018

# Creating a variable that stores the records were the surname is Hamilton

hamilton = df1.loc[df1['drivers_surname'] == "Hamilton"]
hamilton.head()

,raceId,year,circuitId,race_name,driverId,constructorId,race_points,race_fastestLapTime,race_fastestLapSpeed,drivers_forename,drivers_surname,dob
1,948,2016,1,Australian Grand Prix,1.0,131.0,18.0,1:30.646,210.608,Lewis,Hamilton,1985-01-07
24,949,2016,3,Bahrain Grand Prix,1.0,131.0,15.0,1:34.677,205.785,Lewis,Hamilton,1985-01-07
50,950,2016,17,Chinese Grand Prix,1.0,131.0,6.0,1:40.662,194.945,Lewis,Hamilton,1985-01-07
67,951,2016,71,Russian Grand Prix,1.0,131.0,18.0,1:40.266,209.969,Lewis,Hamilton,1985-01-07
108,952,2016,4,Spanish Grand Prix,1.0,131.0,0.0,\N,\N,Lewis,Hamilton,1985-01-07

In [20]:
# Counting the amount of records were the surname is Hamilton in 2018

hamilton.loc[hamilton['year'] == 2018].count()

raceId                  21
year                    21
circuitId               21
race_name               21
driverId                21
constructorId           21
race_points             21
race_fastestLapTime     21
race_fastestLapSpeed    21
drivers_forename        21
drivers_surname         21
dob                     21
dtype: int64


    The merge was successful. We have 21 records for Hamilton in 2018.

**What does this mean for our dataset?**

The granularity of our dataset is: One record per driver, per race. This means that if there are a total of 21 races in 2018 and Lewis Hamilton competed in the 21 races, he should have 21 records for 2018.

In [21]:
# Merge 3: Previous df and quali

df2 = pd.merge(df1, quali, on = ['raceId', 'driverId', 'constructorId'], how='left')
df2.head()

,raceId,year,circuitId,race_name,driverId,constructorId,race_points,race_fastestLapTime,race_fastestLapSpeed,drivers_forename,drivers_surname,dob,qualifyId,q1,q2,q3
0,948,2016,1,Australian Grand Prix,3.0,131.0,25.0,1:30.557,210.815,Nico,Rosberg,1985-06-27,6684.0,1:26.934,1:24.796,1:24.197
1,948,2016,1,Australian Grand Prix,1.0,131.0,18.0,1:30.646,210.608,Lewis,Hamilton,1985-01-07,6683.0,1:25.351,1:24.605,1:23.837
2,948,2016,1,Australian Grand Prix,20.0,6.0,15.0,1:29.951,212.235,Sebastian,Vettel,1987-07-03,6685.0,1:26.945,1:25.257,1:24.675
3,948,2016,1,Australian Grand Prix,817.0,9.0,12.0,1:28.997,214.510,Daniel,Ricciardo,1989-07-01,6690.0,1:26.945,1:25.599,1:25.589
4,948,2016,1,Australian Grand Prix,13.0,3.0,10.0,1:32.288,206.861,Felipe,Massa,1981-04-25,6688.0,1:25.918,1:25.644,1:25.458

In [22]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3499 entries, 0 to 3498
Data columns (total 16 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   raceId                3499 non-null   int64
 1   year                  3499 non-null   int64
 2   circuitId             3499 non-null   int64
 3   race_name             3499 non-null   object
 4   driverId              3481 non-null   float64
 5   constructorId         3481 non-null   float64
 6   race_points           3481 non-null   float64
 7   race_fastestLapTime   3481 non-null   object
 8   race_fastestLapSpeed  3481 non-null   object
 9   drivers_forename      3481 non-null   object
 10  drivers_surname       3481 non-null   object
 11  dob                   3481 non-null   object
 12  qualifyId             3471 non-null   float64
 13  q1                    3471 non-null   object
 14  q2                    3462 non-null   object
 15  q3                    3453 non-null   object
dtypes: float64(4), int64(3), object(9)
memory usage: 437.5+ KB

    We have nulls in q1, q2, and q3. This could be due to data entry mistake, or that the drivers didn't finish the qualifying session. This happens if their car has some type of malfunctioning or they crash. I don't like having nulls in these columns but it actually makes sense to have nulls for quali - if we didn't have nulls then I would know for sure that the data is wrong.

In [23]:
# Merge 4: previous df and sprint

df3 = pd.merge(df2, sprint, on = ['raceId', 'driverId', 'constructorId'], how='left')
df3.head()

,raceId,year,circuitId,race_name,driverId,constructorId,race_points,race_fastestLapTime,race_fastestLapSpeed,drivers_forename,drivers_surname,dob,qualifyId,q1,q2,q3,sprint_points,sprint_fastestLapTime
0,948,2016,1,Australian Grand Prix,3.0,131.0,25.0,1:30.557,210.815,Nico,Rosberg,1985-06-27,6684.0,1:26.934,1:24.796,1:24.197,NaN,NaN
1,948,2016,1,Australian Grand Prix,1.0,131.0,18.0,1:30.646,210.608,Lewis,Hamilton,1985-01-07,6683.0,1:25.351,1:24.605,1:23.837,NaN,NaN
2,948,2016,1,Australian Grand Prix,20.0,6.0,15.0,1:29.951,212.235,Sebastian,Vettel,1987-07-03,6685.0,1:26.945,1:25.257,1:24.675,NaN,NaN
3,948,2016,1,Australian Grand Prix,817.0,9.0,12.0,1:28.997,214.510,Daniel,Ricciardo,1989-07-01,6690.0,1:26.945,1:25.599,1:25.589,NaN,NaN
4,948,2016,1,Australian Grand Prix,13.0,3.0,10.0,1:32.288,206.861,Felipe,Massa,1981-04-25,6688.0,1:25.918,1:25.644,1:25.458,NaN,NaN

In [24]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3499 entries, 0 to 3498
Data columns (total 18 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   raceId                 3499 non-null   int64
 1   year                   3499 non-null   int64
 2   circuitId              3499 non-null   int64
 3   race_name              3499 non-null   object
 4   driverId               3481 non-null   float64
 5   constructorId          3481 non-null   float64
 6   race_points            3481 non-null   float64
 7   race_fastestLapTime    3481 non-null   object
 8   race_fastestLapSpeed   3481 non-null   object
 9   drivers_forename       3481 non-null   object
 10  drivers_surname        3481 non-null   object
 11  dob                    3481 non-null   object
 12  qualifyId              3471 non-null   float64
 13  q1                     3471 non-null   object
 14  q2                     3462 non-null   object
 15  q3                     3453 non-null   object
 16  sprint_points          280 non-null    float64
 17  sprint_fastestLapTime  280 non-null    object
dtypes: float64(5), int64(3), object(10)
memory usage: 492.2+ KB

In [25]:
for col in df3.columns:
    pct_missing = round(np.mean(df3[col].isnull()), 3)
    print('{} - {}%'.format(col, pct_missing))

raceId - 0.0%
year - 0.0%
circuitId - 0.0%
race_name - 0.0%
driverId - 0.005%
constructorId - 0.005%
race_points - 0.005%
race_fastestLapTime - 0.005%
race_fastestLapSpeed - 0.005%
drivers_forename - 0.005%
drivers_surname - 0.005%
dob - 0.005%
qualifyId - 0.008%
q1 - 0.008%
q2 - 0.011%
q3 - 0.013%
sprint_points - 0.92%
sprint_fastestLapTime - 0.92%

    Almost all of the data for sprint is missing. This is because only a very few races have sprint sessions, so most of the records don't have values for sprint. Again, it looks horribe but it makes sense.

In [26]:
# Merge 5: precious df and circuit

df4 = pd.merge(df3, circuit, on = ['circuitId'], how='left')
df4.head()

,raceId,year,circuitId,race_name,driverId,constructorId,race_points,race_fastestLapTime,race_fastestLapSpeed,drivers_forename,drivers_surname,dob,qualifyId,q1,q2,q3,sprint_points,sprint_fastestLapTime,circuit_name,circuit_altitude
0,948,2016,1,Australian Grand Prix,3.0,131.0,25.0,1:30.557,210.815,Nico,Rosberg,1985-06-27,6684.0,1:26.934,1:24.796,1:24.197,NaN,NaN,Albert Park Grand Prix Circuit,10
1,948,2016,1,Australian Grand Prix,1.0,131.0,18.0,1:30.646,210.608,Lewis,Hamilton,1985-01-07,6683.0,1:25.351,1:24.605,1:23.837,NaN,NaN,Albert Park Grand Prix Circuit,10
2,948,2016,1,Australian Grand Prix,20.0,6.0,15.0,1:29.951,212.235,Sebastian,Vettel,1987-07-03,6685.0,1:26.945,1:25.257,1:24.675,NaN,NaN,Albert Park Grand Prix Circuit,10
3,948,2016,1,Australian Grand Prix,817.0,9.0,12.0,1:28.997,214.510,Daniel,Ricciardo,1989-07-01,6690.0,1:26.945,1:25.599,1:25.589,NaN,NaN,Albert Park Grand Prix Circuit,10
4,948,2016,1,Australian Grand Prix,13.0,3.0,10.0,1:32.288,206.861,Felipe,Massa,1981-04-25,6688.0,1:25.918,1:25.644,1:25.458,NaN,NaN,Albert Park Grand Prix Circuit,10

In [27]:
df4.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3499 entries, 0 to 3498
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   raceId                 3499 non-null   int64
 1   year                   3499 non-null   int64
 2   circuitId              3499 non-null   int64
 3   race_name              3499 non-null   object
 4   driverId               3481 non-null   float64
 5   constructorId          3481 non-null   float64
 6   race_points            3481 non-null   float64
 7   race_fastestLapTime    3481 non-null   object
 8   race_fastestLapSpeed   3481 non-null   object
 9   drivers_forename       3481 non-null   object
 10  drivers_surname        3481 non-null   object
 11  dob                    3481 non-null   object
 12  qualifyId              3471 non-null   float64
 13  q1                     3471 non-null   object
 14  q2                     3462 non-null   object
 15  q3                     3453 non-null   object
 16  sprint_points          280 non-null    float64
 17  sprint_fastestLapTime  280 non-null    object
 18  circuit_name           3499 non-null   object
 19  circuit_altitude       3499 non-null   int64
dtypes: float64(5), int64(4), object(11)
memory usage: 546.8+ KB

    Number of records is 2637 for circuit name and altitude. Merge was successful, no nulls

In [28]:
# Merge 6: previous dataframe and constructor results

df5 = pd.merge(df4, constructor_results, on = ['raceId', 'constructorId'], how='left')
df5.head()

,raceId,year,circuitId,race_name,driverId,constructorId,race_points,race_fastestLapTime,race_fastestLapSpeed,drivers_forename,...,dob,qualifyId,q1,q2,q3,sprint_points,sprint_fastestLapTime,circuit_name,circuit_altitude,constructor_points
0,948,2016,1,Australian Grand Prix,3.0,131.0,25.0,1:30.557,210.815,Nico,...,1985-06-27,6684.0,1:26.934,1:24.796,1:24.197,NaN,NaN,Albert Park Grand Prix Circuit,10,43.0
1,948,2016,1,Australian Grand Prix,1.0,131.0,18.0,1:30.646,210.608,Lewis,...,1985-01-07,6683.0,1:25.351,1:24.605,1:23.837,NaN,NaN,Albert Park Grand Prix Circuit,10,43.0
2,948,2016,1,Australian Grand Prix,20.0,6.0,15.0,1:29.951,212.235,Sebastian,...,1987-07-03,6685.0,1:26.945,1:25.257,1:24.675,NaN,NaN,Albert Park Grand Prix Circuit,10,15.0
3,948,2016,1,Australian Grand Prix,817.0,9.0,12.0,1:28.997,214.510,Daniel,...,1989-07-01,6690.0,1:26.945,1:25.599,1:25.589,NaN,NaN,Albert Park Grand Prix Circuit,10,12.0
4,948,2016,1,Australian Grand Prix,13.0,3.0,10.0,1:32.288,206.861,Felipe,...,1981-04-25,6688.0,1:25.918,1:25.644,1:25.458,NaN,NaN,Albert Park Grand Prix Circuit,10,14.0

In [29]:
df5.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3499 entries, 0 to 3498
Data columns (total 21 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   raceId                 3499 non-null   int64
 1   year                   3499 non-null   int64
 2   circuitId              3499 non-null   int64
 3   race_name              3499 non-null   object
 4   driverId               3481 non-null   float64
 5   constructorId          3481 non-null   float64
 6   race_points            3481 non-null   float64
 7   race_fastestLapTime    3481 non-null   object
 8   race_fastestLapSpeed   3481 non-null   object
 9   drivers_forename       3481 non-null   object
 10  drivers_surname        3481 non-null   object
 11  dob                    3481 non-null   object
 12  qualifyId              3471 non-null   float64
 13  q1                     3471 non-null   object
 14  q2                     3462 non-null   object
 15  q3                     3453 non-null   object
 16  sprint_points          280 non-null    float64
 17  sprint_fastestLapTime  280 non-null    object
 18  circuit_name           3499 non-null   object
 19  circuit_altitude       3499 non-null   int64
 20  constructor_points     3481 non-null   float64
dtypes: float64(6), int64(4), object(11)
memory usage: 574.2+ KB

    We have some missing information for constructor points but it's minimal

In [30]:
# Merge 7: previous df and constructor name
# This is the last merge, and the output will be the final dataframe we use for analysis

df2016 = pd.merge(df5, constructor_name, on = ['constructorId'], how='left')
df2016.head()

,raceId,year,circuitId,race_name,driverId,constructorId,race_points,race_fastestLapTime,race_fastestLapSpeed,drivers_forename,...,qualifyId,q1,q2,q3,sprint_points,sprint_fastestLapTime,circuit_name,circuit_altitude,constructor_points,constructor_name
0,948,2016,1,Australian Grand Prix,3.0,131.0,25.0,1:30.557,210.815,Nico,...,6684.0,1:26.934,1:24.796,1:24.197,NaN,NaN,Albert Park Grand Prix Circuit,10,43.0,Mercedes
1,948,2016,1,Australian Grand Prix,1.0,131.0,18.0,1:30.646,210.608,Lewis,...,6683.0,1:25.351,1:24.605,1:23.837,NaN,NaN,Albert Park Grand Prix Circuit,10,43.0,Mercedes
2,948,2016,1,Australian Grand Prix,20.0,6.0,15.0,1:29.951,212.235,Sebastian,...,6685.0,1:26.945,1:25.257,1:24.675,NaN,NaN,Albert Park Grand Prix Circuit,10,15.0,Ferrari
3,948,2016,1,Australian Grand Prix,817.0,9.0,12.0,1:28.997,214.510,Daniel,...,6690.0,1:26.945,1:25.599,1:25.589,NaN,NaN,Albert Park Grand Prix Circuit,10,12.0,Red Bull
4,948,2016,1,Australian Grand Prix,13.0,3.0,10.0,1:32.288,206.861,Felipe,...,6688.0,1:25.918,1:25.644,1:25.458,NaN,NaN,Albert Park Grand Prix Circuit,10,14.0,Williams

In [31]:
df2016.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3499 entries, 0 to 3498
Data columns (total 22 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   raceId                 3499 non-null   int64
 1   year                   3499 non-null   int64
 2   circuitId              3499 non-null   int64
 3   race_name              3499 non-null   object
 4   driverId               3481 non-null   float64
 5   constructorId          3481 non-null   float64
 6   race_points            3481 non-null   float64
 7   race_fastestLapTime    3481 non-null   object
 8   race_fastestLapSpeed   3481 non-null   object
 9   drivers_forename       3481 non-null   object
 10  drivers_surname        3481 non-null   object
 11  dob                    3481 non-null   object
 12  qualifyId              3471 non-null   float64
 13  q1                     3471 non-null   object
 14  q2                     3462 non-null   object
 15  q3                     3453 non-null   object
 16  sprint_points          280 non-null    float64
 17  sprint_fastestLapTime  280 non-null    object
 18  circuit_name           3499 non-null   object
 19  circuit_altitude       3499 non-null   int64
 20  constructor_points     3481 non-null   float64
 21  constructor_name       3481 non-null   object
dtypes: float64(6), int64(4), object(12)
memory usage: 601.5+ KB

In [32]:
# Getting percentage of missing information per column

for col in df2016.columns:
    pct_missing = round(np.mean(df2016[col].isnull()), 3)
    print('{} - {}%'.format(col, pct_missing))

raceId - 0.0%
year - 0.0%
circuitId - 0.0%
race_name - 0.0%
driverId - 0.005%
constructorId - 0.005%
race_points - 0.005%
race_fastestLapTime - 0.005%
race_fastestLapSpeed - 0.005%
drivers_forename - 0.005%
drivers_surname - 0.005%
dob - 0.005%
qualifyId - 0.008%
q1 - 0.008%
q2 - 0.011%
q3 - 0.013%
sprint_points - 0.92%
sprint_fastestLapTime - 0.92%
circuit_name - 0.0%
circuit_altitude - 0.0%
constructor_points - 0.005%
constructor_name - 0.005%


    I'd say overall we're actually really good in terms of null values. The only exception to this is Sprint points and fastest lap, which I explained why they are null. More information in my email.
    
    I feel pretty confident with using this dataset for our analysis.

# Download CSV

df2016.to_csv('F1 2016 - 2024.csv')

In [34]:
df2016.to_csv('F1 2016 - 2024 merges.csv')